* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
}
.header {
  border: 1px solid bisque;
  background-color: bisque;
  width: 100%;
}
.header ul {
  font-size: 25px;
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.header li {
  padding: 20px;
  cursor: pointer;
}
.header li:hover {
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.list li {
  border: 1px solid bisque;
  width: 500px;
  text-align: center;
  padding: 10px;
}
.button {
  border: none;
  font-size: 20px;
  background-color: beige;
  padding: 15px;
  cursor: pointer;
  margin-left: 15px;
}
.button:hover {
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}
